@model AviBlog.Core.ViewModel.PostListViewModel

@{
    ViewBag.Title = "Steven Moseley";
}

<section class="posts-wrapper">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("_PostModule", post)
        <div class="clear"></div>
    }   

</section>
