@model AviBlog.Core.ViewModel.PostListViewModel

@{
    ViewBag.Title = @Model.Posts.First().Title ?? "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadTagSection
{
    @if (!string.IsNullOrEmpty(Model.Posts.First().Description))
    {
        <meta name="Description" content="@Model.Posts.First().Description"/>
    }
}  

<div id="posts-wrapper">
    @Html.Partial("_PostWithFeatures",Model.Posts.First())
</div>


