@model AviBlog.Core.ViewModel.PostListViewModel

@{
    ViewBag.Title = "Tag: " + Model.Tag;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadTagSection
{
    <meta name="Description" content="Steven Moseley on programming, technology and the things of life in general."/>
}  

<h4>Posts for the tag: @Model.Tag</h4>
<div class="posts-wrapper">
@foreach (var post in Model.Posts)
{
    @Html.Partial("_Post",post)
}
</div>