@model AviBlog.Core.ViewModel.SettingViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@Html.Partial("_SettingForm",Model)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
