@model System.Collections.Generic.IList<AviBlog.Core.ViewModel.PostViewModel>

<div class="recent-post-section">
    <h4>Recent Posts</h4>
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Title,"Post","Posts", new {id = item.Slug}, new {@class = "recent-post-item"})</li>
        }
    </ul>
</div>