@model AviBlog.Core.ViewModel.PostListViewModel

@{
    ViewBag.Title = "Archived Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadTagSection
{
    <meta name="Description" content="Steven Moseley on programming, technology and the things of life in general."/>
}  

<h2>Archived Posts</h2>
<div class="archive-list">
    <ul>
    @foreach (var post in Model.Posts)
    {
        <li>
            <div class="archive-date">@if (post.DatePublished.HasValue)
                  {
                      @post.DatePublished.Value.ToShortDateString()
                  }
            </div>
            <span>@Html.ActionLink(post.Title,"Post","Posts",new {id = post.Slug},new {@class = "post-archive-link"})</span>
        </li>
    }
    </ul>
</div>