@model AviBlog.Core.ViewModel.PostViewModel

<article>
    <div>
        <h2>@Html.ActionLink(Model.Title,"Post","Posts",new {id = Model.Slug},new {@class = "post-title-link"})</h2>
    </div>
    <div>@Html.Raw(Model.PostContent) </div>
</article>