@model AviBlog.Core.ViewModel.BlogSiteViewModel

@{
    ViewBag.Title = "Html Fragments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Html Fragments</h2>

<div>
    @Html.Partial("_HtmlFragments", Model)
</div>