@model AviBlog.Core.ViewModel.UserViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@Html.Partial("_UserForm", Model);

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
