@model AviBlog.Core.ViewModel.UserViewModel

@{
    ViewBag.Title = "Edit User Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit User Profile</h2>

@Html.Partial("_UserForm", Model)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>