h2 {
  color: #2c424d;
  font-size: 24px; }

a {
  text-decoration: none; }

ul, ol {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  * [data-icon]:before {
    content: attr(data-icon);
    text-decoration: none; }

.logo {
  background: #2c424d;
  position: absolute;
  top: 0;
  right: 90%;
  margin: 0 -306px 0 0;
  height: 285px;
  width: 50%;
  min-width: 390px;
  text-align: right;
  padding: 50px 50px 0 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: bebas_neueregular, Tahoma;
  font-size: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  .logo p {
    color: #b5995b;
    font-family: MonospaceTypewriterRegular, Tahoma;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 2px 0 0; }
  .logo a {
    color: #b5995b; }
    .logo a span {
      color: #ccc4b8; }
  .logo:before, .logo:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #070a0c;
    z-index: -1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  .logo:before {
    top: 12px;
    left: 12px;
    background: black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }

.header-social {
  background: #ccc4b8;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 20px;
  right: 10%;
  padding: 3px 0 0 4px; }
  .header-social:before, .header-social:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #070a0c;
    z-index: -1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  .header-social:before {
    top: 12px;
    left: 12px;
    background: black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  @media (max-width: 620px) {
    .header-social {
      display: none;
      visibility: hidden; } }

body {
  background: url("images/wild_oliva.png"); }

.page-wrap {
  background: #b5995b;
  width: 80%;
  margin: 175px auto 0;
  position: relative; }
  .page-wrap:before, .page-wrap:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #070a0c;
    z-index: -1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  .page-wrap:before {
    top: 12px;
    left: 12px;
    background: black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }

.main-nav {
  border-bottom: 6px solid #081d31;
  padding: 15px 15px 0 15px;
  font-size: 0; }
  .main-nav a {
    display: inline-block;
    width: 15%;
    min-width: 110px;
    padding: 6px;
    font-family: CantarellBold;
    font-size: 16px;
    padding: 15px 5px;
    background: #2c424d;
    color: #ccc4b8;
    text-align: center;
    box-shadow: 10px 1px 20px 2px rgba(0, 0, 0, 0.5); }
    .main-nav a:nth-child(1) {
      z-index: 4; }
    .main-nav a:nth-child(2) {
      z-index: 3; }
    .main-nav a:nth-child(3) {
      z-index: 2; }
    .main-nav a:nth-child(4) {
      z-index: 1; }
    .main-nav a span {
      font-family: heydings_iconsregular; }
  .main-nav:after {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }
  @media (max-width: 620px) {
    .main-nav {
      display: none;
      visibility: hidden; } }

.mobile-social-nav {
  visibility: hidden;
  display: none; }
  @media (max-width: 620px) {
    .mobile-social-nav {
      display: inline-block;
      visibility: visible;
      background: #ccc4b8;
      width: 90%;
      height: 33px;
      margin: 6px auto; }
      .mobile-social-nav a {
        padding: 0 0 0 20px; } }

.grid {
  display: inline-block;
  width: 100%;
  padding-left: 15px;
  margin-right: 15px; }

[class^='grid-'] {
  float: left;
  padding: 15px 0 15px 15px; }

.grid-1-2 {
  width: 50%; }

.grid-1-4 {
  width: 25%; }

.grid-fix-thin {
  width: 73px; }

.grid-100 {
  width: 100%; }

.module {
  background: #ccc4b8;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 6px 15px 0; }
  .module a {
    color: #2c424d; }

.post {
  display: inline-block;
  float: left;
  width: 100%; }

.post-social-list {
  width: 73px;
  padding: 6px 6px 6px 6px;
  margin: 2px auto;
  position: absolute;
  top: 325px;
  left: 10px;
  background: #ccc4b8; }
  .post-social-list li {
    padding: 6px 2px; }
  .post-social-list:before, .post-social-list:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #070a0c;
    z-index: -1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  .post-social-list:before {
    top: 12px;
    left: 12px;
    background: black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }

.post-content {
  width: 97%;
  padding: 6px 6px 6px 6px;
  margin: 2px auto;
  float: left; }
  .post-content dl {
    max-width: 100%;
    height: auto; }

