
//------------------variables--------------------------------
$tan: #6D6344;
$beige: #CCC4B8;
$dark-blue: #081D31;
$blue: #2C424D;
$sand: #B5995B;
$offset: 6px;
$padding: 15px;
$left-rail: 73px;
$content-start: 175px;

@mixin font-stack-logo { font-family: bebas_neueregular, Tahoma; }
@mixin font-stack-heading { font-family: ChunkFiveRoman, Tahoma; }
@mixin font-stack-normal { font-family: CantarellRegular, Tahoma; }
@mixin font-stack-bold { font-family: CantarellBold; }
@mixin font-stack-code { font-family: MonospaceTypewriterRegular, Tahoma; }
@mixin font-stack-icon { font-family: heydings_iconsregular; }

@mixin breakpoint($point) {
  @if $point == wide-body {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == norm-body {
    @media (max-width: 700px) { @content; }
  }
  @else if $point == thin-body {
    @media (max-width: 620px)  { @content; }
  }
}
//------------------variables--------------------------------

//------------------global--------------------------------
h2 {
	color: $blue;
	font-size: 24px;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

* { // fixes box sizing width issues with percentaes
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	

	[data-icon]:before {
		content: attr(data-icon);
		text-decoration: none;
	}
}


//------------------global--------------------------------

//------------------header--------------------------------
.logo {
	background: $blue;
	position: absolute;
	top: 0;
	right: 90%;
	margin: 0 -306px 0 0;
	height: 285px;
	width: 50%;
	min-width: 390px;
	text-align: right;
	padding: 50px 50px 0 0;
	text-transform: uppercase;
	font-weight: bold;
	@include font-stack-logo;
	font-size: 40px;
	box-shadow: 0 0 4px rgba(black, 0.4);
	p {
		color: $sand;
		@include font-stack-code;
		font-size: 16px;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0 2px 0 0;
	}
	a {
		color: $sand;
		span {
			color: $beige;
		}
	}
	&:before, &:after {
		content: "";
		position: absolute;
		top: $offset;
		left: $offset;	
		width: 100%;
		height: 100%;
		background: darken($blue, 20%);
		z-index: -1;
		box-shadow: 0 0 4px rgba(black, 0.4);
	}
	&:before {
		top: $offset*2;
		left: $offset*2;
		background: darken($blue, 30%);
		box-shadow: 0 0 4px rgba(black, 0.4);
	}
}

.header-social {
	background: $beige;
	width: 140px;
	height: 140px;
	position: absolute;
	top: 20px;
	right: 10%;
	padding: 3px 0 0 4px;
	&:before, &:after {
		content: "";
		position: absolute;
		top: $offset;
		left: $offset;	
		width: 100%;
		height: 100%;
		background: darken($blue, 20%);
		z-index: -1;
		box-shadow: 0 0 4px rgba(black, 0.4);
	}
	&:before {
		top: $offset*2;
		left: $offset*2;
		background: darken($blue, 30%);
		box-shadow: 0 0 4px rgba(black, 0.4);
	}
	@include breakpoint(thin-body){
		display: none;
		visibility: hidden;
	}
}


//------------------header--------------------------------


//------------------page--------------------------------
body {
	background: url('images/wild_oliva.png');
	
}


.page-wrap {
	background: $sand;
	width: 80%;
	margin: $content-start auto 0;
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		top: $offset;
		left: $offset;	
		width: 100%;
		height: 100%;
		background: darken($blue, 20%);
		z-index: -1;
		box-shadow: 0 0 4px rgba(black, 0.4);
	}
	&:before {
		top: $offset*2;
		left: $offset*2;
		background: darken($blue, 30%);
		box-shadow: 0 0 4px rgba(black, 0.4);
	}
}

//------------------page--------------------------------


//------------------main nav--------------------------------

.main-nav {
	border-bottom: $offset solid $dark-blue;
	padding: $padding $padding 0 $padding;
	font-size: 0;
	a {
		display: inline-block;
		width: 15%;
		min-width: 110px;
		padding: $offset;
		@include font-stack-bold;
		font-size: 16px;
		padding: 15px 5px;
		background: $blue;
		color: $beige;
		text-align: center;
		box-shadow: 10px 1px 20px 2px rgba(black, 0.5);
		&:nth-child(1) {z-index: 4; }
		&:nth-child(2) {z-index: 3; }
		&:nth-child(3) {z-index: 2; }
		&:nth-child(4) {z-index: 1; }
			span {
				@include font-stack-icon;
			}
		}
	&:after {
		content: "";
		//position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background: -webkit-linear-gradient(rgba(black,0),rgba(black,0.3));
		}
	@include breakpoint(thin-body){
		display: none;
		visibility: hidden;
	}

}

.mobile-social-nav {
	visibility: hidden;
	display: none;
	@include breakpoint(thin-body) {
		display: inline-block;
		visibility: visible;
		background: $beige;
		width: 90%;
		height: 33px;
		margin: $offset auto;
		a {
			padding: 0 0 0 20px;
		}
	}
}

//------------------main nav--------------------------------

//------------------grid--------------------------------
.grid {	
	display: inline-block;
	width: 100%;
	padding-left: $padding;
	margin-right: $padding;
}

[class^='grid-'] {
	float: left;
	padding: $padding 0 $padding $padding;
}

.grid-1-2 {
	width: 50%;
}

.grid-1-4 {
	width: 25%;
}

.grid-fix-thin {
	width: $left-rail;
}

.grid-100 {
	width: 100%
}

.module {
	background: $beige;
	padding: $padding;
	box-shadow: 0 0 5px rgba(black, 0.5);
	margin: 0 $offset $padding 0;
	a {
		color: $blue;
	}
}
//------------------grid--------------------------------

//------------------post--------------------------------

.post {
	display: inline-block;
	float: left;
	width: 100%
}
.post-social-list {
	width: 73px;
	padding: $offset $offset $offset $offset;
	margin: 2px auto;
	position: absolute;
	top: $content-start + 150;
	left: 10px;
	background: $beige;
	li {
		padding: $offset 2px;
	}
	&:before, &:after {
		content: "";
		position: absolute;
		top: $offset;
		left: $offset;	
		width: 100%;
		height: 100%;
		background: darken($blue, 20%);
		z-index: -1;
		box-shadow: 0 0 4px rgba(black, 0.4);
	}
	&:before {
		top: $offset*2;
		left: $offset*2;
		background: darken($blue, 30%);
		box-shadow: 0 0 4px rgba(black, 0.4);
	}
}
.post-content {
	width: 97%;
	padding: $offset $offset $offset $offset;
	margin: 2px auto;
	float: left;
	dl {
		max-width: 100%;
		height: auto;
	}
}

//------------------post--------------------------------

