/* defaul properties */
body, button, input, select, textarea { font-family: 'CantarellNormal', Tahoma; }
h1  { font-family: 'CantarellBold', Tahoma; font-weight: 300; line-height: 1; margin: 0 0 25px 0; }, 
h2, h3, h4 { font-family: 'CantarellNormal', Tahoma; font-weight: 300; line-height: 1; margin: 0 0 25px 0; }
h1 { font-size: 50px; font-weight: 800; }
h2 { font-size: 35px; }
h3 { font-size: 30px;  }
h4 { font-weight: 600; font-size: 25px; margin-bottom: 15px; }
h5 { font-size: 20px;font-weight: 600; }
.clear { clear: both;}
.align-left { text-align: left;}
.align-right { text-align: right;}

/* major layout */
body { background-color: #938A07; }
header { width: 100%;background: url('images/header.png') repeat-x; height: 163px;}
header #header-wrapper { max-width: 1190px;margin: 0 auto;}
section#body-wrapper { max-width: 1190px;background-color: #fff;border-left: #ccc solid 1px;border-right: #ccc solid 1px;min-height: 400px;margin: 0 auto;padding: 25px 10px;}
footer {width: 100%; background: url('images/footer.png') repeat-x #222; min-height: 300px;}
footer #footer-wrapper { max-width: 1190px;margin: 0 auto;}
.col1, .col2, .col3, .cols { float:left;}
.cols{ width:190px;}

@media all and (min-width: 1200px) {.col1{ width: 860px;overflow: hidden;}}
@media all and (min-width: 900px) and (max-width: 1200px) {.col1{ width:560px;overflow: hidden;}}
@media all and (max-width: 900px) {.col1{ width:360px;overflow: hidden;}}
@media all and (max-width: 900px) {section aside { display: none;visibility: hidden;}}
@media all and (max-width: 900px) {#header-wrapper-right { display: none;visibility: hidden;}}

.col3{ width:260px;}
.col2{ width:220px;}
.pad_left2 { padding-left: 40px;}


#header #header-wrapper-left {float: left;padding: 40px 0 0 0; }
#header #header-wrapper-left h1 { font-family: 'CantarellBold', sans-serif; color: #fff; padding: 4px 4px 4px 4px;margin: 2px 0 2px 0;}
#header #header-wrapper-left h1 a { font-family: 'CantarellBold', sans-serif; color: #fff; padding: 4px 4px 4px 4px;margin: 2px 0 2px 0;text-decoration: none;}
#header #header-wrapper-left h1 a:hover { font-family: 'CantarellBold', sans-serif; color: #fff; padding: 4px 4px 4px 4px;margin: 2px 0 2px 0;text-decoration: none;}
#header #header-wrapper-left h1 a:active { font-family: 'CantarellBold', sans-serif; color: #fff; padding: 4px 4px 4px 4px;margin: 2px 0 2px 0;text-decoration: none;}
#header #header-wrapper-left p { color: #fff;padding: 4px 4px 4px 4px;}
#header #header-wrapper-right { float: right;width: 525px;}
#header #header-wrapper-right nav { float: left;}
#header #header-wrapper-right #nav-main { width: 200px;padding: 56px 0 0 0;}
#header #header-wrapper-right #nav-main ul li { float: left;padding: 5px 0 5px 0;}
#header #header-wrapper-right #nav-main ul li a { color: #fff;font-weight: 600;;font-size: 11px;}
#header #header-wrapper-right #nav-main ul li a:hover { color: #938A07;font-weight: 600;}
#header #header-wrapper-right #nav-main ul li a:active { color: #938A07;font-weight: 600;}
#header #header-wrapper-right nav { margin-top: 41px;}
#header #header-wrapper-right nav h4 { color: #fff;font-family: 'CantarellRegular', sans-serif; }
#header #header-wrapper-right nav ul li {padding: 2px 10px; float: left;width: 100px;}
#header #header-wrapper-right nav ul li a { color: #fff;text-decoration: underline;font-family: 'CantarellRegular', sans-serif; }
#header #header-wrapper-right nav ul li a img { padding-right: 5px;}
#header #header-wrapper-right nav ul li a:hover {color: #fff;text-decoration: underline;font-family: 'CantarellRegular', sans-serif; }
#header #header-wrapper-right nav ul li a:active {color: #fff;text-decoration: underline;font-family: 'CantarellRegular', sans-serif; }

footer div#footerwrapper{ max-width: 1190px;margin: 0 auto;}
footer div#footer-section-1, footer div#footer-section-2, footer div#footer-section-3 { float: left;width: 320px;}

footer nav.nav-social { margin: 41px 0 135px;}
footer nav.nav-social h4 { color: #fff;font-family: 'CantarellRegular', sans-serif; }
footer nav.nav-social ul li {padding: 2px 10px; float: left;}
footer nav.nav-social ul li a { color: #fff;text-decoration: underline;font-family: 'CantarellRegular', sans-serif; }
footer nav.nav-social ul li a img { padding-right: 5px;}
footer nav.nav-social ul li a:hover {color: #fff;text-decoration: underline;font-family: 'CantarellRegular', sans-serif; }
footer nav.nav-social ul li a:active {color: #fff;text-decoration: underline;font-family: 'CantarellRegular', sans-serif; }
footer div#copy { margin: 41px auto 0;}
footer div#copy div {width: 90px; margin: auto;}
footer #footer-blog-description { width: 100%;display: inline-block;font-size: 12px;}
footer #footer-blog-description div {max-width: 960px; margin: 0 auto; }
footer #footer-blog-description div ul li { float: left;color: #fff;padding: 10px 50px;}


#posts-wrapper  article { font-family: 'CantarellRegular', Tahoma; font-weight: 300;line-height: 23px; margin: 10px 5px 15px 5px;padding: 5px 5px 5px 5px;}
#posts-wrapper  article p { padding: 5px 0;} 
#posts-wrapper  article .post-heading h2 { padding: 7px 0 0 0;}
#posts-wrapper  article .post-heading h2 a.post-title-link { font-size: 24px;font-weight: 700; color: #1F447D;}
#posts-wrapper  article .post-heading h2 a.post-title-link:hover { font-size: 24px;font-weight: 700; color: #1F447D}
#posts-wrapper  article .post-heading h2 a.post-title-link:active { font-size: 24px;font-weight: 700; color: #1F447D}

#posts-wrapper article h3, h2 {padding: 20px 0 0 0;font-size: 22px;font-weight: 600;}
#posts-wrapper article .post-meta-info {width: 100%;font-size: 12px;padding: 15px 2px 5px;}
#posts-wrapper article .post-meta-info ul li { float: left;width: 400px;}
#posts-wrapper article .post-tags-social { border-bottom: 1px solid #2A5101; height: 76px; margin-bottom: 20px; padding: 10px 0 7px; width: 100%;}
#posts-wrapper article div#post-info { display: inline-block;width: 100%;border-top: #2A5101 solid 1px;border-bottom: #2A5101 solid 1px;}
#posts-wrapper article div#post-info ul.post-tags-list li { float: left;margin-right: 5px;padding-top: 20px}
#posts-wrapper article div#post-info div.post-tag-label { float: left;margin-right: 20px;line-height: 60px;}
#posts-wrapper article div#post-info ul.post-tags-list { float: left;}
#posts-wrapper article div#post-info ul.post-tags-list li a { background: none #938A07 scroll;border: #ccc solid 1px;color: #fff;text-decoration: none;padding: 2px 5px 2px 5px;margin-right: 10px;}
#posts-wrapper article .post-tags-social .post-social-list { float: right;}
#posts-wrapper article .post-tags-social .post-social-list li { float: right;padding: 5px 5px 5px 5px;}
#posts-wrapper article .post-title-date {	text-align: center;font-size: 12px;line-height: 13px;color: #FFE7DF;padding: 1px;border-radius: 6px;background-color: #938A07;float: left;border: #938A07 solid 1px;margin: 1px 10px 5px 0;padding: 1px 1px 1px 1px;}
#posts-wrapper article .post-title-date div.post-title-month { padding: 2px 4px 2px 4px; margin: 1px 1px 1px 1px; text-shadow:1px 1px #ccc;}
#posts-wrapper article .post-title-date div.post-title-day {font-weight:bold;text-shadow:1px 1px #5F210C;color:#222; background-color: #fff; padding: 2px 4px 2px 4px; margin: 1px 1px 1px 1px;}
/* facebook like button */
#LikePluginPagelet { width: 50px;}

/* archive */
#archive-list ul li { padding: 5px 0;}
#archive-list .archive-date {padding: 5px 10px 0 2px;width: 100px;display: inline-block;}
#archive-list .post-archive-link { color: blue; }

section aside { width: 260px;float: left;}
section aside div.grid-right {width: 100%;padding: 10px 3px;}
section aside div.grid-right ul { background-color: whitesmoke;display: inline-block;border-radius: 8px;}
section aside div.grid-right ul li {float: left;margin: 1px 5px 1px 5px;padding: 0 2px;line-height: 20px;}
section aside div.grid-right ul li span.tag-cloud-small a { font-size: 12px;font-family: 'CantarellRegular', Tahoma; font-weight: 300;color: #565656;line-height: 30px; padding: 5px;}
section aside div.grid-right ul li span.tag-cloud-medium a { font-size: 14px;font-family: 'CantarellRegular', Tahoma; font-weight: 500;color: #565656;line-height: 30px; padding: 5px;}
section aside div.grid-right ul li span.tag-cloud-large a { font-size: 16px;font-family: 'CantarellRegular', Tahoma; font-weight: 700;color: #565656;line-height: 30px; padding: 5px;}



    