@model AviBlog.Core.ViewModel.ImportViewModel

@{
    ViewBag.Title = "Import Using BlogML";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Upload</h2>

@using(Html.BeginForm("Upload","Import", FormMethod.Post, new { enctype="multipart/form-data" })) { 
    <fieldset>
        <div class="display-label">
            Blog Site
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.SelectedBlogSite,Model.BlogSiteList )
        </div>
        <div class="display-label">
            Author to Import To
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.SelectedUserId,Model.UserList )
        </div>
        <div class="display-label">
            @Html.Label("Import BlogML file")
        </div>
        <div class="editor-label">
            <input type="file" name="files" id="file1" />
        </div>
         <input type="submit" />
    </fieldset>

   
}
