@model AviBlog.Core.ViewModel.UserViewModel

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadTagSection
{
    <meta name="Description" content="Steven Moseley on programming, technology and the things of life in general."/>
}  

<h2>About Me</h2>

<div class="posts-wrapper">
        <article>
            @Html.Raw( Model.AboutMe)
    </article>
</div>
