@model AviBlog.Core.ViewModel.PostListViewModel

@{
    ViewBag.Title = Model.BlogTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="posts-wrapper">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("_Post",post)
    }

</div>

