@using System.Globalization
@model int

@using (Html.BeginForm("File", "Upload", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <fieldset>
        <legend>Upload Files</legend>
        <div class="upload">
            <span>Upload Files</span>
            <span><input type="file" name="files" id="files" multiple="multiple" /></span>
            <span> @Html.Hidden("postId", Model.ToString(CultureInfo.InvariantCulture), new {id = "postId"}) </span>
            <span> <input type="submit" value="Upload" /> </span>
        </div>
    </fieldset>
}